<section class="chat" id="chat">
  {{!-- <div class="message">
    <strong>NICK:</strong><span>MESSAGE</span>
  </div> --}}
</section>

<form id="messageForm">
  <div class="mb-3">
    <label for="nickname" class="message form-label">Nickname</label>
    <input type="text" class="form-control" name="nickname" id="nickname">
  </div>
  <div class="mb-3">
    <label for="message" class="message form-label">Message</label>
    <input type="text" class="input form-control" name="message" id="message">
  </div>
  <button type="submit" class="btn-outline-primary btn btn-warning">Submit</button>
</form>
